# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\mintonmu\Desktop\基于SSM的影院票务系统的设计与实现程序\ssm01493jyssmdyypwxtdsjysx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
